BACKEND_URL="http://localhost:3000"
JWT_SECRET="anySecret"
NODE_ENV="development"
PORT=8000
EMAIL="abc@xyz.com"
PASSWORD="abcd efgh ijkl mnop" # https://medium.com/@y.mehnati_49486/how-to-send-an-email-from-your-gmail-account-with-nodemailer-837bf09a7628

AWS_USERNAME="username"
AWS_PASSWORD="password"
AWS_DATABASE="database name"
AWS_HOST="personalized host link"
AWS_DIALECT="database service to use"