JWT_SECRET="crs-backend"
NODE_ENV="development"
PORT=8000
EMAIL="abc@xyz.com"
PASSWORD="abcd efgh ijkl mnop" # https://medium.com/@y.mehnati_49486/how-to-send-an-email-from-your-gmail-account-with-nodemailer-837bf09a7628